body {
    background-color: grey;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}

main {
    padding: 30px;
    margin: auto;
}

header {
    padding: 40px;
    text-align: center;
    background-color: #222;
}

header p {
    color: crimson;
    font-size: 1.1rem;
}

h1 {
    color: crimson;
    font-size: 3em;

}

p {
    line-height: 1.5rem;

}

h2 {
    color: crimson;
    font-size: 1.5rem;

}

section {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #222;
    color: crimson;
}