body{
    background-color: black;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    padding: 30px;
}

header{
    padding: 40px;
    text-align: center;
}

h1 {
    color: crimson;

}

p{
    color: crimson;

}

h2{
    color: crimson
}