@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: grey;
    margin: 0;
    font-family: dm sans, sans-serif;
    color: #222;
}

main {
    padding: 30px;
    margin: auto;
}

header {
    padding: 40px;
    text-align: center;
    background-color: #222;
}


header p {
    color: crimson;
    font-size: 1.1rem;
    font-weight: bold;
}

h1 {
    color: crimson;
    font-size: 3em;

}

p {
    line-height: 1.5rem;

}

h2 {
    color: crimson;
    font-size: 1.5rem;

}

section {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 20px;
}

.como {
    background-color: burlywood;
}

#comofunciona {
    background-color: azure;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #222;
    color: crimson;
}